<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<!-- 新增表单 -->
<form id="form1">
    <input name="id" id="pid" type="hidden">

    <div class="form-group">
        <div class="row">
            <div class="col-md-2"><label>手机类型</label></div>
            <div class="col-md-4">
                <select class="form-control"  name="ptype" id="ptype">
                    <option value="1">老人机</option>
                    <option value="2">智能机</option>
                    <option value="3">平板</option>
                </select>
            </div>
            <div class="col-md-2"><label>手机名称</label></div>
            <div class="col-md-4"><input class="form-control" id="pname" name="pname"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-2"><label>手机规格</label></div>
            <div class="col-md-4"><input class="form-control"  id="guige" name="guige" ></div>
            <div class="col-md-2"><label>手机价格</label></div>
            <div class="col-md-4"><input class="form-control" id="price"  name="price"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-2"><label>出厂日期</label></div>
            <div class="col-md-4"><input class="form-control date" id="createdate" name="createdate" ></div>

        </div>
    </div>


</form>







</body>
<script>



    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        format: 'yyyy-mm-dd',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),//初始化当前日期
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });

</script>
</html>