<!DOCTYPE html>
<!- 引入模板引擎 ->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        body { padding-top: 70px; }
    </style>
    <!-- 引入bootstrap的css -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">
    <!-- 引入jquery的js -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入树的相关的css、js -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css">
    <script type="text/javascript" src="../js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入选项卡的相关的css、js -->
    <link rel="stylesheet" href="../js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="../js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- 引入boostrap的表格的css、js -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入bootbox弹框的js -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入bootstrap的日期的css、js -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- 引入fileinput 文件上传的 css、js -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="../js/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="../js/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>

</head>
<body>


<form class="form-inline">
    <div  class="form-group">
        <label for="name">手机名称：</label>
        <input class="form-control" id="name" >
    </div>


    <button onclick="tiaocha()" class="btn btn-primary glyphicon glyphicon-search" type="button">搜索</button></br>
    <button onclick="openform()" class="btn btn-primary glyphicon glyphicon-plus" type="button">新增</button>
    <button onclick="delall()" class="btn btn-primary glyphicon glyphicon-trash" type="button">批量删除</button>
</form>



<table class="table" id="dg"></table>

</body>
<script>


    function tiaocha(){
        $('#dg').bootstrapTable("refresh",{
            query:{
                pname:$("#name").val(),
            }
        })
    }


    $('#dg').bootstrapTable({
        //toolbar:'#toolbar',//工具栏
        url:'/phone/queryphone',//获取数据地址
        pagination:true, //是否展示分页
        pageList:[2, 4, 6, 10],//分页组件
        pageNumber:1,//默认页码
        pageSize:2,//默认每页条数
        sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
        striped:true,//斑马线
        queryParams:function(){
            return {
                page: this.pageNumber,
                rows: this.pageSize,
            };
        },
        columns:[
            {field:"checkbox",checkbox:true},
            {field:"id",title:"id"},
            {field:"ptype",title:"手机类型",formatter:function (value, row, index) {
                if (value==1){
                    return "老人机"
                }
                else if (value==2){
                    return "智能机"
                }
                else if (value==3){
                    return "平板"
                }
            }},
            {field:"pname",title:"手机名称"},
            {field:"guige",title:"手机规格"},
            {field:"price",title:"手机价格"},
            {field:"createdate",title:"出厂日期"},
            {field:"tool",title:"操作",formatter:function(value,row,index){
                    var str = "<a href='javascript:delphone("+row.id+")'>删除</a> | <a href='javascript:phonebyid("+row.id+")'>修改</a>";
                    return str;
                }}
        ]
    });




    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步
            success:function(data){
                res = data;
            }
        });
        return res;
    }

    //新增打开弹框
    function openform(){
        bootbox.dialog({
            title:'新增',
            message: createAddContent("/page/add"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {//回调函数
                        //提交表单
                        $.ajax({
                            url:"/phone/addphone",
                            type:'post',
                            data:$("#form1").serialize(),//表单序列化
                            success:function(){
                                tiaocha();
                                bootbox.alert({
                                    size: "small",
                                    title: "提示",
                                    message: "新增成功"
                                })
                            }

                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger"
                }
            }

        });

    }


    function delphone(id){
        $.ajax({
            url:"/phone/delphone",
            type:"post",
            data:{ids:id},
            success:function(){
                bootbox.alert({
                    size: "small",
                    title: "提示",
                    message: "删除成功"
                })
                tiaocha()
            }
        })
    }

    function delall(){
        var arr = $( "#dg" ).bootstrapTable( 'getSelections' );
        var ids="";
        for (var i = 0; i < arr.length; i++) {
            ids+=ids==""?arr[i].id:","+arr[i].id
        }
        $.ajax({
            url:"/phone/delphone",
            type:"post",
            data:{ids:ids},
            success:function(){
                bootbox.alert({
                    size: "small",
                    title: "提示",
                    message: "删除成功"
                })
                $('#dg').bootstrapTable('refresh');//刷新表格
            }
        })
    }

    function phonebyid(id){
        bootbox.dialog({
            title:'修改',
            message: createAddContent("/page/add"),
            closeButton: true,
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {//回调函数
                        //提交表单
                        $.ajax({
                            url:"/phone/addphone",
                            type:'post',
                            data:$("#form1").serialize(),//表单序列化
                            success:function(){
                                tiaocha();
                                bootbox.alert({
                                    size: "small",
                                    title: "提示",
                                    message: "修改成功"
                                })
                            }

                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger"
                }
            }

        });
        $.ajax({
            url:"/phone/phonebyid",
            type:'get',
            data:{id:id},//表单序列化
            success:function(data){
               $("#pid").val(data.id)
               $("#pname").val(data.pname)
               $("#ptype").val(data.ptype)
               $("#price").val(data.price)
               $("#guige").val(data.guige)
               $("#createdate").val(data.createdate)
            }

        });
    }



</script>
</html>